.jump-section3 {
    max-width: 1190px;
    margin: 0 auto 30px;

    h2 {
        text-align: center;
        color: inherit;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
        padding: 0;
        font-weight: normal;
        letter-spacing: -1px;
        vertical-align: baseline;
    }

    h3 {
        text-align: center;
        padding: 16px 0 16px;
        color: inherit;
        line-height: 29px;
    }

    p {
        text-align: center;
    }
}

.jump-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jump-item {
    max-inline-size: 36ch;
    padding: 1ch 2ex;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }
}